@import 'assets/_master.scss';
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


html {
  position: relative;
  min-height: 100%;
}

body {
    background-color:$backgroundColor;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.container .text-muted {
  margin: 20px 0;
}