@import 'assets/styles/_master.scss';

.starBox {
    display:inline-block;
    white-space:nowrap;
    font-size: 20px;
    width:100%;
    overflow:hidden;
    text-align:left;

    &:after {
        content:"";
        display:block;
    }
}