<header class="header">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" (click)="setTab(0)">Angular2-TestProject</a>
        </div>
        <ul class="nav navbar-nav">
          <li [ngClass]="{'active':isTab(0)}"><a href="#" (click)="setTab(0)">Home</a></li>
          <li [ngClass]="{'active':isTab(1)}"><a href="#" (click)="setTab(1)">Page 1</a></li>
          <li [ngClass]="{'active':isTab(2)}"><a href="#" (click)="setTab(2)">Page 2</a></li>
          <li [ngClass]="{'active':isTab(3)}"><a href="#" (click)="setTab(3)">Page 3</a></li>
        </ul>
      </div>
    </nav>
</header>
