@import 'assets/styles/_master.scss';

.gmap {

    .glyphicon {
        font-size:20px;
    }

    .optionBox {
        padding: 25px 15px 15px 15px !important;
        margin: -25px 1px 29px 0;
    }

    .placeBox {
        margin-top:-4px;
    }

	#map {
        width:100%;
        height:500px;
    }

    .panel-body {
        padding:0;
    }

    .popup {
        position: fixed;
        display:block;
        left:50%;
        top:50%;
        transform: translate(-50%,-50%);
        width:500px;
        height:550px;
        z-index:1000;
        .panel-body {
            padding: 0 25px;
        }

    }

    .overlay {
            position: fixed;
            display:block;
            left:0;
            top:0;
            z-index:999;
            width:100%;
            height:100%;
            background-color: #000;
            opacity: 0.5;
        }
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}