<div class="container forfest">

    <div>
        <div class="row">
            <h1>Förfestställen</h1>
            <br>
            <ul class="nav nav-pills">
                <li (click)='showMap=true' [class.active]='showMap'><a><span class="glyphicon glyphicon-map-marker"></span></a></li>
                <li (click)='showMap=false' [class.active]='!showMap'><a><span class="glyphicon glyphicon-list"></span></a></li>
            </ul>
        </div>
        <hr />
        <div [hidden]='!showMap'>
            <map-component (update)='getPlaces($event)'></map-component>
        </div>
        <div [hidden]='showMap'>
            <div class="row">
                <div class="col-lg-6">
                    <label for="filterName" class="label label-default">Namn</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="clickable" (click)='ascending=!ascending;orderBy="name"'><span [class]='getOrderGlyph("name")'></span></span>
                        </span>
                        <input type="text" class="form-control" id="filterName" [(ngModel)]='filterName' placeholder="Filter..." /><br>
                        <span class="input-group-addon">Visar {{countFiltered()}} av {{places.length}} förfestställen.</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <label for="filterDistance" class="label label-default">Avstånd</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="clickable" (click)='ascending=!ascending;orderBy="distance"'><span [class]='getOrderGlyph("distance")'></span></span>
                        </span>
                        <input type="number" min="1" max="1000" class="form-control" id="filterDistance" [(ngModel)]='filterDistance' placeholder="Filter..." /><br>
                        <span class="input-group-addon">Visar 1 till {{filterDistance}} meter.</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <place-component *ngFor='let place of places | filterPlaces: filterName:filterDistance:orderBy:ascending' [place]='place' [filterName]='filterName' [filterDistance]='filterDistance'></place-component>
            </div>
        </div>
    </div>
</div>