@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("node_modules/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.eot");
  src: url("node_modules/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("node_modules/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("node_modules/bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons-halflingsregular") format("svg"); }

.example {
  min-height: 200px;
  margin: 0 auto;
  background-color: #fff; }
  .example .hfm-btn {
    width: 220px;
    height: 50px;
    padding: 0 25px;
    border-radius: 50px;
    background-color: #52c76e;
    border: 2px solid #38ad54;
    color: white;
    font-size: 18px;
    display: table-cell;
    vertical-align: middle;
    font-weight: 200; }
  .example a:hover, .example a:focus, .example a:visited, .example a:active {
    text-decoration: none;
    color: white; }
