@import 'assets/styles/_master.scss';

.example {
    min-height:200px;
    margin:0 auto;
    background-color:$exampleColor;
    .hfm-btn {
        width:220px;
        height:50px;
        padding:0 25px;
        border-radius:50px;
        background-color: #52c76e;
        border:2px solid #38ad54;
        color: white;
        font-size: 18px;
        display:table-cell;
        vertical-align:middle;
        //text-align:center;
        font-weight: 200;
    }
    a {
        &:hover, &:focus, &:visited, &:active {
            text-decoration:none;
            color: white;
        }
    }
}