@import 'assets/styles/_master.scss';

$noteHeight: 150px;

.notes {
    //max-width:$siteWidth;
    .panel {
    	margin:$componentMargin;
    }
    textarea{
        min-width:100%;
        min-height:$noteHeight;
        resize:none;
        margin-bottom:10px;
    }
    .btn {
        &.full-width{
            width:100%;
        }
    }
    .glyphicon {
        color: aaa;
        &:hover{
            color:333;
        }
    }
}

