<div class="notes container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>{{componentTitle}}</strong>
        </div>
        <div class="panel-body">
            <p><em>Add notes with this component.</em>
                <a href="#" (click)="toggleHide()">
                    <span class="glyphicon pull-right"
                    [ngClass]="{'glyphicon-menu-right':hide, 'glyphicon-menu-down':!hide}"></span>
                </a>
            </p>
            <hr [hidden]="hide"/>
            <div class="row" [hidden]="hide">
                <div class="col-sm-6 col-xs-12">
                    <p>Add a note:</p>
                    <div class="note-menu form-group">
                        <button class="btn btn-default" (click)="addTag('h1');">h1</button>
                        <button class="btn btn-default" (click)="addTag('h2');">h2</button>
                        <button class="btn btn-default" (click)="addTag('h3');">h3</button>
                        <button class="btn btn-default" (click)="addTag('p');">p</button>
                        <button class="btn btn-default" (click)="addTag('em');">em</button>
                        <button class="btn btn-default" (click)="addTag('strong');">strong</button>
                        <button class="btn btn-default" (click)="addTag('pre');">pre</button>
                        <button class="btn btn-default pull-right" (click)="clearNote()">
                            <span class="glyphicon glyphicon-trash"></span></button>
                    </div>
                    <form (ngSubmit)="saveNote()" [ngFormModel]="noteForm">
                        <div class="form-group">
                            <input type="text" class="form-control" name="noteSubject" placeholder="Subject" required
                              ngControl="noteSubject"/>
                            <div class="alert alert-danger" role="alert"
                            [hidden]="!noteSubject.dirty || noteSubject.valid">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                Please specify a note subject.
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="noteText" placeholder="Write some text..." required
                              ngControl="noteText"></textarea>
                            <div class="alert alert-danger" role="alert"
                            [hidden]="!noteText.dirty || noteText.valid">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                Please write a note.
                            </div>
                        </div>
                        <button class="btn btn-default full-width"
                        [disabled]="!noteForm.valid">Add note</button>
                    </form>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="panel panel-default"
                    *ngIf='(noteText.value && noteText.value.length) || (noteSubject.value && noteSubject.value.length)'>
                        <div class="panel-heading">
                            <span [innerHTML]='noteSubject.value'></span>
                        </div>
                        <div class="panel-body">
                            <span [innerHTML]='noteText.value'></span>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf='notes && notes.length'>
                <hr />
                <h2>Saved notes:</h2>
                <note-component *ngFor='let note of notes' [note]='note' (close)='removeNote($event)'>
                </note-component>
            </div>
        </div>
    </div>