<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="place-box panel panel-default" #placeBox [style.background-color]='place.bgClr'>
        <div class="panel-body">
            <div class="image" [style.background-image]="'url('+place.imgSrc+')'" ></div>
            <span #nameTag class="nameTag" [style.color]='place.txtClr'>
                <span class="name">{{place.name}}
                </span>
                <span class="stars"><star-component [rating]='place.rating' ></star-component></span>
            </span>
        </div>
    </div>
</div>
