@import 'assets/styles/_master.scss';

.page-wrap:after{
	height: $footerHeight;
	content: '';
	display:block;
}

footer {
	height: $footerHeight;
	text-align:center;
	width: 100%;
	background-color: #f5f5f5;
	p {
		padding-top: 20px;
	}
}