.container {
  border: 4px dashed #ddd;
  margin: 4px auto;
  border-radius: 4px;
  padding: 0; }

.page-wrap:after {
  height: 60px;
  content: '';
  display: block; }

footer {
  height: 60px;
  text-align: center;
  width: 100%;
  background-color: #f5f5f5; }
  footer p {
    padding-top: 20px; }
